* {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
html {
    background-color: rgb(131, 192, 131);
}
body {
    max-width: 800px;
    height:1100px;
    background-color: white;
    margin:0 auto;
    padding:0;
}
header {
    /* position:relative; */
    position:fixed;
    top:0;
    width: 40.05%;
    background-color: rgb(236, 238, 96);
    padding:1%;
    height:82px;
}
header img {
    display:inline;
    float:left;
    padding-right:20px;
}
header h1{
        margin:0;
        padding:0;
}
header h2 {
    margin:0;
    padding: 0;
}
.nav{
    transition: top 0.3s;
    position:fixed;
    top:120px;
    width:42.04%;
    padding-top:0;
    margin-top:0px;
    clear:left;
    text-align: left;
    background-color: grey;
}
.nav nav{
    display: none;
}
.nav li {
    margin-left:115px;
    width:60px;
    font-size:30px;
    display:inline;
    list-style: none;
    background-color: grey;
    color:white
}
.nav a{
    color: white;
}
.nav a:link{
    text-decoration: none;
}
.nav a:visited{
    text-decoration: none;
}
.nav a:hover{
    text-decoration: none;
    background-color: darkgrey;
}
.nav a:active{
    text-decoration: none;
}
.nav-hide{
    transform: translateY(-160px);
}
#paragraph {
    font-weight: normal;
    font-size: 140%;
    padding: 140px 10px 60px;
    float:left;
    top:150px;
}
#photos {
    padding-left:90px;
    align-items: center;
}
#form {
    padding: 10px 0 0 15px;
}
#form p{
    font-size: 120%;
}
input {
	margin: 8px 2px ; 
	width:600px;
    align-items: center;
}
#button {
	margin-left: 0px;
	width:80px;
	background-color: black;
    color:white;
}
